.td__user{
    color: white;
    border-top: 1px solid #000;

}
.td__user--buttons{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

    
}
td{
    padding: 10px 0px;
}
