.nopath__container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn__nopath{
    max-width: 200px;
    text-align: center;
    text-decoration: none;
}
.nopath__h2{
    color: #FFF;
    font-size: 4em;
}
.nopath__number{
    color: #FFF;
}