
.container__buttons--edit-remove{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.button__edit{
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 5px;
    width: 25px;
    height: 25px;
    max-width: 50px;
    background-color: #0EA5E9;
    color: white;
    cursor: pointer;

}
.button__edit:hover{
    opacity: 0.8;

}
.button__remove{
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 5px;
    width: 25px;
    height: 25px;
    max-width: 50px;
    background-color: #ff6e26;
    color: white;
    cursor: pointer;
}
.button__remove:hover{

    opacity: 0.8;

}