body{
        background-color: #28334e;
        font-family: sans-serif;
}
.container__web{
        margin: auto;
        width: 100%;
        max-width: 1200px;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 5%;
    padding: 5px;
}
.link{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        border-radius: 10px;
        width: 20%;
        max-width: 120px;
        min-width: 100px;
        text-decoration: none;
        border: 2px solid #0EA5E9;
        font-weight: 500;
        font-size: 1.2em;
        transition: .1s ease;
        color: white;
}
.show{
        display: none;
}
.link:hover{
    background-color: #0EA5E9;
   
}
.logout{
        background-color: 
        rgb(255, 50, 50);
        color: white;
}
.logout:hover{
        background-color: rgb(255, 89, 89);
        color: white;
}
